@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* color palatte 1 */
  --panel-bg: #eaf1e3;
  --primary-color-1: #73a9ad;
  --primary-color-2: #90c8ac;
  --primary-color-3: #c4dfaa;

  --primary-color-2-hover: #acd6c1;
}

body {
  background: var(--background);
}

h1 {
  font-family: var(--font-noto-sans-thai);
}

p {
  font-family: var(--font-anuphan);
}
