SUPABASE_URL=insert_supabase_url_here
SUPABASE_KEY=insert_supabase_key_here
SUPABASE_DB_URL=insert_supabase_db_url_here
SEED_ACCOUNT_ID=insert_seed_account_id_here

NEXT_PUBLIC_SUPABASE_URL=insert_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=insert_next_public_supabase_anon_key_here
NEXT_PUBLIC_API_URL=http://localhost:8000
